%table.table.table-striped
  %thead
    %tr
      %th{:scope => "col"} 动作名称
      %th{:scope => "col"} 重量/KG
      %th{:scope => "col"} 动作组数
      %th{:scope => "col"} 更新动作
      %th{:scope => "col"} 删除动作

  %tbody
  - @record.fitness_moves.each do |move|
    %tr
      %td= move.name
      %td= move.weight
      %td= move.times
      %td= link_to "更新", edit_fitness_record_fitness_move_path(@record.id, move.id), method: :get 
      %td= link_to "删除", fitness_record_fitness_move_path(@record.id, move.id), method: :delete 
%button.btn.btn-link= link_to "后退", fitness_record_path(@record.id)